<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>管理员界面</title>

    <link href="static/css/amazeui.css" rel="stylesheet" type="text/css" />
    <link href="static/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="static/css/cartstyle.css" rel="stylesheet" type="text/css" />
    <link href="static/css/optstyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.5/dist/css/layui.css">
    <style>
        css .table-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        table {
            margin: auto;
            border-collapse: collapse;
            width: 400px;
            table-layout: fixed;
            width: 100%;
        }

        td {
            padding: 10px;
            border: 1px solid #ccc;
            width: 100px;
            word-wrap: break-word;
            /* 长内容自动换行 */
        }

        input {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
        }
    </style>
    <script type="text/javascript" src="static/js/jquery.js"></script>

</head>

<body>
    <div id="container">

        <div class="table-container">
            <table>
                <tr>
                    <td>productId:</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>productName:</td>
                    <td><input type="text" v-model="productName"></td>
                </tr>
                <tr>
                    <td>categoryId:</td>
                    <td><input type="text" v-model="categoryId"></td>
                </tr>
                <tr>
                    <td>rootCategoryId:</td>
                    <td><input type="text" v-model="rootCategoryId"></td>
                </tr>
                <tr>
                    <td>soldNum:</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>productStatus:</td>
                    <td><input type="text" v-model="productStatus"></td>
                </tr>
                <tr>
                    <td>content:</td>
                    <td><input type="text" v-model="content"></td>
                </tr>
                <tr>
                    <td>createTime:</td>
                    <td>----</td>
                </tr>
                <tr>

                    <td>updateTime:</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td>操作</td>
                    <td><button @click="addProduct">提交</button></td>
                </tr>
            </table>
        </div>

    </div>

    <script src="static/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/vue2.6.14.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/cookie_utils.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/utils.js" type="text/javascript" charset="utf-8"></script>
    <script src="//unpkg.com/layui@2.6.5/dist/layui.js"></script>
    <script src="static/js/baseurl.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#container",
            data: {
                token: "",
                productName: "",
                categoryId: "",
                productId:"",
                rootCategoryId: "",
                productStatus: "",
                content: "",
            },
            created: function () {
                this.token=getCookieValue("token");
            },
            methods: {
                addProduct: function () {
                    var product = {
                        productName: this.productName,
                        categoryId: this.categoryId,
                        rootCategoryId: this.rootCategoryId,
                        productStatus: this.productStatus,
                        content: this.content,
                    }
                    var url = baseUrl + "/product/insertProduct";
                    var token = this.token;
                    var self = this;
                    if (token != "") {
                        axios({
                            url: url,
                            method: "post",
                            headers: {
                                token: token,
                            },
                            data: product

                        }).then((res) => {
                            if (res.data.code == 10000) {
                                alert("成功");
                                self.productId=res.data.data;
                                window.location.href="product-manage.html?productId="+self.productId;
                            } else {
                                alert("请检查格式重新输入");
                            }
                        });
                    }
                },
                clearCookie: function () {
                    document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    localStorage.removeItem("token");
                    window.location.href = "login.html"
                },

            }

        })
    </script>

</body>

</html>